# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
dist/
build/

# Traccar runtime data
traccar/data/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker
*.override.yml

# Database dumps
*.sql
*.dump
!app/prisma/migrations/**/migration.sql
